<%=render 'shared/header'%>
<div class = "main">
  <div class = "content">
      <div class = "title">
        <h1>図書館書籍管理システム</h1>
      </div>
      <div class = "sub-title">
      <h2><%=link_to '貸出','#'%>
      </div>
  </div>
</div>