// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  font:100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height:1.7;
  letter-spacing: 1px;
}
.main{
  background-size: cover;
  background-repeat:no-repeat;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 200px 0 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content{
  background-color: aqua;
  width: 70%;
  height: 25vh;
  box-shadow: 0 2px 6px #c1ced7;
}
.sub-title a{
  text-align: none; 
  color:whitesmoke;
  font-size:25px;
}

.sub-title h2{
  box-shadow: 0 2px 6px #c1ced7;
  width: 30%;
  margin: auto;
  margin-top: 35px;
  background-color:burlywood;
}


.title{
  font-size: 50px;
}